.sidebar {
  background: linear-gradient(-45deg, #F6F7FB, #F6F7FF);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

.gwiinputify {
  display: none;
}

.xvis{
  display: : block;
}
.xhid{
  display: none;
}
#ethform {
  align-items: center;
  justify-content:center;
  width:100%;
  height: 100%;
	background: e2697a;
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


#ethform img {
    display:block;
    margin:auto;
}
#ethform input {
  width:70%;
  display:block;
  margin:auto;
}

#ethform button {
  width:30%;
  display:block;
  margin:auto;
}

#ethform h3, h4, h5 {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  color: #ffffff;
}

#landimg {
  width:164px ;
  height: 166px;
}

#details {

}
